<!-- Worked with House Cass and my House Hayden 
Kiany,Kevin S , Kevin C, Alief, Jerry,Khorally , Rodas,Tamika   -->

<!doctype html>
<html>
<head>
    <title>The Hobbyist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <img class="logo" src="img/logo.png">
  <img class="main" src="img\mainpic.gif">
  <div class="intro">
    <h3>Welcome to THE HOBBYIST. We are passionate collectors, providing you the best space to show off your greatest pieces or entire collection. Our aim is to give you an easy way to obtain awesome collectables and to flaunt your rare pieces.</h3>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
  </div>
</div>
<footer>
  <ul class="clearfix">
    <li><a href="https://github.com/SEKev95" target="_blank">GitHub</a></li>
    <li><a href="https://twitter.com/KevinCharlesDe1" target="_blank">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/kevin-charles-39708b204/" target="_blank">Linkedin</a></li>
  </ul>
</footer>
</body>
</html>
